* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0 0 12px 0;
}

hr {
    border: none;
    border-top: 1px solid #f0f0f0;
    margin: 24px 0;
}

.button,
button {
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #47C;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    color: #47C;
    cursor: pointer;
    font-family: 'Assistant', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 8px 10px;
    text-decoration: none !important;
    text-transform: uppercase;

    &:hover {
        background-color: #47c;
        color: #fff;
    }
}

pre {
    background-color: #f0f4f8;
    background-color: rgba(40, 44, 48, .1);
    border-radius: 4px;
    font-family: 'Ubuntu Mono', monospace;
    overflow-x: auto;
    padding: 8px;

    & > code {
        background-color: transparent;
    }
}

code {
    background-color: #f0f4f8;
    background-color: rgba(40, 44, 48, .1);
    border-radius: 4px;
    display: inline-block;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 11px;
    padding: 3px 6px;
}