:host {
    flex-grow: 1;
    height: 100%;
    overflow: hidden;

    @media(max-width: 767px) {
        background-color: #fdfdfd;
        position: fixed;
        width: 100%;
    }
}

.question__scroll-container {
    background-color: #fff;
    height: calc(100% - 72px);
    overflow-x: hidden;
    overflow-y: scroll;
}

.question {
    padding: 24px;
}

.question__link {
    font-size: 14px;
}

.answer {
    position: relative;
}

.answer__acceptance {
    color: #606060;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 2px;
}

.answer__accepted {
    background-color: #F8E1BB;
}

.answer-body {
    font-size: 16px;
}

.answer__guess {
    position: absolute;
    text-align: center;
    width: 64px;
}

.answer__body {
    color: #606060;
    min-height: 172px;
    padding-left: 88px;
    width: 100%;
}

.answer__count {
    font-size: 32px;
    font-weight: 200;
    line-height: 1;
}

.answer__count-label {
    color: #606060;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 16px;
}