<div>
    <p>detail</p>

    <div><button (click)="firebase()">firebase</button></div>
    <p>{{q?.title}} <a href="{{q?.link}}" target="_blank">link</a></p>
    <div>
        by
        <a href="{{q?.owner.link}}" target="_blank">{{q?.owner.display_name}}</a>
        with {{q?.owner.reputation}} rep
        <img src="{{q?.owner.profile_image}}" height="20" width="20"/>
    </div>
    <!--<div [innerHTML]="q?.body"></div>-->
    <div>answers: {{q?.answer_count}}</div>
    <ul>
        <li *ngFor="let a of q?.answers">
            <div>{{a?.answer_id}}</div>
            <div>{{a?.up_vote_count}} <button (click)="guess(a.answer_id, q.question_id, q.title)">vote</button></div>
            <!--<div [innerHTML]="a?.body"></div>-->
        </li>
    </ul>
</div>