<h1 class="question__header flex flex-between-center">
    <button (click)="showResults = !showResults">Results</button>
    <span>{{q?.answer_count}} Answers</span>
    <a class="button" [routerLink]="['']">close</a>
</h1>

<div class="question__scroll-container">
    <div class="question">
        <h2>{{q?.title}}</h2>
        <div>
            <a class="question__link" href="{{q?.link}}" target="_blank">view&nbsp;on&nbsp;stack</a>
        </div>

        <div class="user-meta flex flex-end-center">
            <img class="user-meta__image flex-noshrink" src="{{q?.owner.profile_image}}" alt="{{q?.owner.displayName}}" height="32" width="32"/>
            <div>
                Asked by <a href="{{q?.owner.link}}" target="_blank">{{q?.owner.display_name}}</a>
                <div>with {{q?.owner.reputation}} rep</div>
            </div>
        </div>

        <hr />

        <div [innerHTML]="q?.body"></div>
    </div>
    <ul class="card-list__list">
        <li class="card answer flex flex-start-start" *ngFor="let a of q?.answers">
            <div class="answer__guess">
                <div class="answer__count">
                    <span [style.display]="showResults ? 'block' : 'none'">{{a?.up_vote_count || 0}}</span>
                    <span [style.display]="showResults ? 'none' : 'block'">?</span>
                </div>
                <div class="answer__count-label">up votes</div>
                <div class="answer__count">
                    <span [style.display]="showResults ? 'block' : 'none'">{{a?.guessCount || 0}}</span>
                    <span [style.display]="showResults ? 'none' : 'block'">?</span>
                </div>
                <div class="answer__count-label">guesses</div>
                <div><button class="button--guess" (click)="guess(a.answer_id, q)">guess</button></div>
            </div>
            <div class="answer__body flex-shrink">
                                <div><span *ngIf="q?.accepted_answer_id == a?.answer_id" [style.visibility]="showResults ? 'visible' : 'hidden'">Accepted Answer</span></div>

                <div class="answer-body" [innerHTML]="a?.body"></div>
            </div>
        </li>
    </ul>
</div>