:host {
    flex-grow: 1;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    @media(max-width: 767px) {
        background-color: #fdfdfd;
        position: fixed;
        width: 100%;
    }
}