//helpers
@import "./styles/_reset.scss";
@import "./styles/_typography.scss";
@import "./styles/_flexbox.scss";

//components
@import "./styles/_card.scss";
@import "./styles/_card-list.scss";
@import "./styles/_user-meta.scss";

.app-root {
    background-image: url("../assets/logos.jpg");
    background-position: 94% center;
    background-repeat: no-repeat;
    background-size: 40% auto;
    height: 100%;

    @media(max-height: 600px) {
        background-position: 90% center;
        background-size: auto 80%;
    }
}

.app__lists {
    flex-shrink: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;

    @media(min-width: 768px) {
        width: 400px;
    }
}

.buton--debug {
    left: -6px;
    position: fixed;
    top: -4px;
}