<div class="card-list">
    <h1 class="card-list__header"><i class="fa fa-stack-overflow"></i> Stack Questions</h1>

    <ul class="card-list__list">
        <li class="card" *ngFor="let question of questions | async">
            <a class="card__question" [routerLink]="['/question', question.question_id]">{{question.title}}</a>
            <div class="user-meta flex flex-end-center">
                <img class="user-meta__image flex-noshrink" [src]="question.owner.profile_image" alt="{{question.owner.display_name}}" />
                <div>
                    Asked by <a [href]="question.owner.link" target="_blank">{{question.owner.display_name}}</a>
                    <div>with {{question.owner.reputation || 0}} rep</div>
                </div>
            </div>
        </li>
    </ul>
</div>